* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(92, 207, 207), rgb(66, 142, 155));
}

form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg,rgb(170, 255, 255), rgb(129, 243, 243));
    box-shadow: 5px 5px 15px rgba(44, 126, 126, 0.842);
    padding: 20px 30px;
    width: 300px;
    border-radius: 10px;
}

form label {
    margin-bottom: 5px;
}

form input {
    background: rgba(69, 182, 182, 0.445);
    padding: 0px 15px;
    margin-bottom: 10px;
    height: 25px;
    height: 35px;
    border-radius: 15px;
    border: none;
}

form input:focus {
    outline: none;
}

form button {
    background: linear-gradient(160deg, white, lightgray);
    box-shadow: 4px 4px 8px rgba(64, 160, 160, 0.452);
    border: none;
    margin-top: 8px;
    margin-bottom: 18px;
    padding: 8px 0px;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.2s ease;
}

form button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#extra {
    display: flex;
    justify-content: space-between;
}

#extra a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

#extra a:hover {
    transform: scale(1.05);
}